.siteBar{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    
}

.nav{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.link {
    text-decoration: none;
    color:#000000;
    margin-right: 10px;
    transition: all 0.5s;
    padding: 5px;
   
}
.link:hover{
    color: #ccc;
    
}
.active{
    color: #ccc;
}
.item{
    margin-top:10px; 
}
.item:first-child{
    margin-top:0px; 
}