.userProf{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.avaUser{
    width: 150px;
    border-radius: 300px;
    height: 150px;
}

.UserName{
    font-size: 28px;
    font-weight: bolder;
    color:white;
    margin: 0;
}
.edit{
    text-decoration: none;
    color:#16ad9f;
}