.dialogs{
display: flex;
flex-flow: column nowrap;
align-items: flex-start;

padding: 5px;
border: 1px solid  #ccc;        
}
.h2{
    color: black;
    border-bottom:1px solid #ccc;
    width: 90%;
}
.dialogsBlock{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;

}
.users{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 30%;
    flex-basis: 30%;
    border-right: 1px solid #ccc;
}
.masseges{
    display: flex;
    flex-flow: column nowrap;
    max-width: 70%;
    flex-basis: 68%;
    justify-content: flex-start;
}